body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parent {
  display: flex;
  flex-wrap: nowrap;
  background-color: yellow;
}



.child {
  background-color: blue;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 105px;
  font-size: 30px;
  height:200px;
}